body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}
button{
    cursor: pointer;
    border: 1px solid #0bd115;
    background: none;
    border-radius: .3em;    
}
nav{
    display: flex;
    padding: 1em;
    padding-left: 2em;
    background-color: #000000cb;
    flex-wrap: wrap;
    border: 1px solid #0000;
    position: relative;
    z-index: 10;
}
nav h1{
    font-size: 1.4rem;
    margin-left: 2em;
    background: linear-gradient(27deg, #fdbe49, rgb(19, 134, 248), rgb(7, 247, 27));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
nav ul{
    display: flex;
    gap: 1em;
    margin: auto;
    background-color: #0000;
    border: 1px solid #0000;
}
ul li{
    list-style: none;

}
ul li a, h1 a, button a{
    text-decoration: none;
    color: white;
}

.main{
    align-items: center;
    justify-content: center;
    text-align: center;
}
#home{
    min-height: 60vh;
    padding: 3em;
    padding-top: 9em;
    background: url('./bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: justify;
    position: relative;
    z-index: 0;
    color: white;
}
#home::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000c7;
    z-index: -1;
}
#home h1{
    background: linear-gradient(27deg, #fdbe49, rgb(19, 134, 248), rgb(7, 247, 27));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 1;
  font-size: 3rem;
}
#home p, #home button{
    z-index: 1;
}
#home button a{
    color: #0bd115;
}
#home button{
    border: 1px solid #0bd115;
    background: none;
    color: rgb(64, 201, 36);
    padding: .5em;
    border-radius: 5px;
    width: 8em;
    transition: all .5s ease-in-out;
}
#home button:hover{
    border: 1px solid #0bd115;
    background: #0bd115;
    color: rgb(255, 255, 255);
    padding: .5em;
    border-radius: 5px;
    width: 8em;
    scale: 1.1;
    cursor: pointer;
}
#home button:hover a{
    color: rgb(255, 255, 255);

}

#about {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 2em;
    padding-top: 4em;
    text-align: justify;
    background: #e9fcff;
}
#about section{
    
}
#about h2{
    padding-top: 1.2em;
    padding-bottom: 1.2em;
    border-top: 1px solid #a5a5a5e0;
    border-bottom: 1px solid #a5a5a5e0;
    color: #0bd115;
}

#treeButton {
    background: none;
    border: 1px solid rgb(0, 255, 76);
    padding: .6em;
    width: 7em;
    border-radius: 6px;
    margin-bottom: 1em;
    cursor: pointer;
}
.tree{
    width: 50%;
    background: #f3fcfbea;
    padding: 2em;
    transition: all .5s ease-in-out;
    box-shadow: 0px 0px -13px #919090b6;
    border-radius: .8em;
    display: none;
    
    cursor: pointer;
}
.tree #p2{
    padding-left: 1.5em;
}
#p3, #p4{
    padding-left: 4em;
}
#p7, #p5{
    padding-left: 6em;
}
#p6, #p8{
    padding-left: 8em;
}
.right{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.boxes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    height: 0em;
    overflow: hidden;
    transition: all 1.4s ease-in-out;
}
.concepts{
    width: 18em;
    border: none;
    padding: 1.5em;
    border-radius: 6px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}
.concepts:hover{
    box-shadow: 0px 0px 8px #dfdede;
}
.boxes .concepts p{
    display: none;
}

#selectors{
    text-align: justify;
    padding: 2em;
    padding-top: 4em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: #fff;
}
#selectors h2{
    padding-top: 1.2em;
    padding-bottom: 1.2em;
    border-top: 1px solid #a5a5a5e0;
    border-bottom: 1px solid #a5a5a5e0;
}
#selectors .types{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.2em;
}
.selector{
    width: 18em;
    height: 8em;
    box-shadow: 0 0 5px #bdbdbd;
    padding: 1em;
    padding-left: 4em;
    border-radius: 6px;
    position: relative;
    cursor: pointer;
    transition: all .3s ease-in-out;
    text-align: start;
    position: relative;
    z-index: 0;
}

.selector::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 15%;
    height: 100%;
    background: #0bd115;
    z-index: -1;
}
.selector:hover, .selector:active{
    width: 24em;
    padding-left: 6.5em;
    background: #fffbf9;
}
.selector p{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
}
.selector span{
    background: #0bd115;
    border-radius: 50%;
    padding: .5em;
    width: 1.2em;
    height: 1.2em;
    position: absolute;
    top: 1.2em;
    right: 1.2em;
    text-align: center;
}

#changingContents, #stylingWithJavaScript, #creatingRemovingElements, #eventHandling, #domTraversas, #miniProject{
    text-align: justify;
    padding: 2em;
    padding-top: 4em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: #fff;
    gap: 1.2em;
}
#changingContents h2, #stylingWithJavaScript h2, #creatingRemovingElements h2, #eventHandling h2, #domTraversas h2, #miniProject h2{
    padding-top: 1.2em;
    padding-bottom: 1.2em;
    border-top: 1px solid #a5a5a5e0;
    border-bottom: 1px solid #a5a5a5e0;
}
#innerText, #textContent, #innerHTML{
    box-shadow: 0 0 8px #acacac;
    padding: 1em;
    border-radius: .7em;
    cursor: pointer;
}
#textContent{
    margin-left: 3em;
}
#innerHTML{
    margin-left: 6em;
}

footer {
    text-align: center;
    background: #0f0f0f;
    padding: 2em;
    color: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3em;
}
.footer1, .footer2 {
    text-align: justify;
}
.footer1 ul, .footer1 ul li a, .footer2 ul, .footer2 ul li a{
    color: #10a017;
    font-weight: 200;
    font-family:'Arial Narrow', Arial, sans-serif;
}

.bottomend{
    text-align: center;
    background: #353434;
    color: white;
    padding: 1em;
}